:root {
    --primary: #467dda;
    --text: #adadad;
    --background: #0f1319;
    --button: #5794f8;
    --input: #1f2329;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
  
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }