.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.textTop {
    margin-bottom: 40px;
    width: 400px;

    h1 {
        color: var(--primary);
    }
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    input {
        width: 400px;
        height: 50px;

        border-radius: 5px;
        border: 1px solid rgb(65, 65, 65);

        background-color: var(--input);
        margin-top: 8px;
        padding: 10px;
        outline: none;     
        color: var(--text);  

        transition: border .3s;

        &:focus {
         border: 1px solid var(--primary);
        }
    }    
}

.button {
    width: 400px;
    height: 50px;

    background-color: var(--button);
    border: 2px solid var(--button);
    color: #fff;

    font-size: 18px;
    text-align: center;
    font-weight: 500;

    transition: background-color .3s;

    &:hover {
        background-color: transparent;
        color: var(--button);
    }
}

.divOr {
    display: flex;
    align-items: center;

    margin: 15px 0px;

    p {
        padding: 0 13px;
    }
}

.buttonAuth {
    width: 400px;
    height: 50px;

    background-color: transparent;
    border: 2px solid var(--button);
    color: #fff;

    font-size: 18px;
    text-align: center;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .3s;

    svg {
        font-size: 24px;
        margin-right: 7px;
    }

    &:hover {
        background-color: var(--button);
    }
}