.container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

    .title {
        margin-bottom: 50px;
    }
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 64px;

    img {
        width: 140px;
        height: 140px;
        border-radius: 70px;
        margin-bottom: 16px;
    }
}